* {
    box-sizing: border-box;
}

div.pnlm-compass {
    top: 0px !important;
    left: 36px !important;
}

.custom-hotspot {
    height: 36px;
    width: 36px;
    cursor: pointer;
    background: #fff;
    border-radius: 100%;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('icons/eye-icon.svg');
    object-fit: contain;
}

.custom-hotspot-location {
    background-size: 60%;
    background-image: url('icons/location-icon.svg');
}

div.custom-tooltip span {
    visibility: hidden;
    position: absolute;
    border-radius: 3px;
    background-color: #fff;
    color: #000;
    text-align: center;
    max-width: 200px;
    padding: 5px 10px;
    margin-left: -220px;
    cursor: default;
}

div.custom-tooltip:hover span {
    visibility: visible;
}

div.custom-tooltip:hover span:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-width: 10px;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
    bottom: -20px;
    left: -10px;
    margin: 0 50%;
}

.pnlm-pointer {
    background-color: #fff !important;
    color: #000 !important;
}

.pnlm-pointer ::after {
    border-color: #fff transparent transparent transparent !important;
}